@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Yantramanav:300,700');

$header: 'Open Sans Condensed', sans-serif;
$body: 'Yantramanav', sans-serif;
$orange: #EC971F;
$dark-orange: #b76b00;
$teal: #50E3C2;

body {
  // Sets background color on page
  margin: 0;
  background: rgb(160,160,160); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(160,160,160,1) 0%, rgba(14,14,14,1) 62%, rgba(14,14,14,1) 83%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(160,160,160,1) 0%,rgba(14,14,14,1) 62%,rgba(14,14,14,1) 83%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(160,160,160,1) 0%,rgba(14,14,14,1) 62%,rgba(14,14,14,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // Sets font styles on headers
  .header {
    font-family: $header;
    font-weight: 700;
    text-transform: uppercase;
  }

  #loading {
    width: 60px;
  }

  h2 {
    color: $orange;
  }

  a {
    .movie-title {
      @extend .header;
      font-family: $body;
      font-size: 1em;
      padding: 20px 0px;
      color: $orange;
      &:hover {
        color: white !important;
      }
    }
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none !important;
      outline: none;
    }
  }

  // Sets font styles on paragraphs
  p {
    font-family: $body;
  }

  // Center align columns
  .col-centered{
    float: none;
    margin: 0 auto;
  }

  // Top Search area styles
  .search-div {
    padding: 100px 0px;
    h2 {
      margin-bottom: 50px;
      font-size: 6em;
    }

    .search-input {
      max-width: 600px;
      margin: 0 auto;
      background: none;
      border-bottom: solid 2px white;
      border-top: none;
      border-right: none;
      border-left: none;
      transition: border 0.3s;
    }
    input[type="text"] {
      color: white;
      font-size: 2em;
      &:focus {
        border-bottom: solid 2px white;
      }
    }

    .form-control {
      @extend .header;
      border-radius: 0;
      &:focus {
        border: none;
      }
      &::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* WebKit, Blink, Edge */
      &:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 4 to 18 */
      &::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 19+ */
      &:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Internet Explorer 10-11 */
      &::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Microsoft Edge */
    }

    .orangeBtn {
      @extend .header;
      color: white;
      background-color: $orange;
      &:hover {
        color: $dark-orange;
      }
    }
  }
  .card-deck {
    .card {
      margin: 0 !important;
      width: 200px;
      height: 300px;
      background: none;
      border: none;
      padding-right: 50px;
    }
  }

  .card-img-top {
    height: 200px;
    width: 150px;
  }

  // Modal Styles
  .modal-lg {
    padding-top: 300px;
    color: white;
    font-family: $body;
    .modal-content {
      background: rgba(15,15,15, 0.85);
    }
    .movie-detail-img {
      padding-right: 30px;
      padding-bottom: 10px;
    }
    .tagline {
      font-style: italic;
      font-size: 2em;
      color: $teal;
    }
    .close {
      font-size: 2em;
      color: $teal;
      text-shadow: none;
      opacity: 1;
    }
    .orangeBtn {
      @extend .header;
      color: white;
      background-color: $orange;
      &:hover {
        color: $dark-orange;
      }
    }
  }
}




//// Star Rating Styles ////
.br-theme-fontawesome-stars-o .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars-o .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f006';
  color: #d2d2d2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  content: '\f005';
  color: #50E3C2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  content: '\f005';
  color: #50E3C2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  content: '\f123';
  color: #50E3C2;
}
.br-theme-fontawesome-stars-o .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars-o .br-readonly a {
  cursor: default;
}
.br-theme-fontawesome-stars-o .br-reverse a.br-fractional {
  display: inline-block;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
@media print {
  .br-theme-fontawesome-stars-o .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars-o .br-widget a.br-active:after,
  .br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
  .br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    content: '\f123';
    color: black;
  }
}
