@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Yantramanav:300,700');

$header: 'Open Sans Condensed', sans-serif;
$body: 'Yantramanav', sans-serif;
$orange: #EC971F;
$dark-orange: #b76b00;

body {
  // Sets background color on page
  margin: 0;
  background: #424242; /* Old browsers */
  background: -moz-linear-gradient(top, #424242 0%, #1d1d1d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #424242 0%,#1d1d1d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #424242 0%,#1d1d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  // Sets font styles on headers
  .header {
    font-family: $header;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    color: $orange;
  }

  a {
    .movie-title {
      @extend .header;
      font-family: $body;
      font-size: 1em;
      padding: 20px 0px;
      color: $orange;
      &:hover {
        color: white !important;
      }
    }
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none !important;
      outline: none;
    }
  }

  // Sets font styles on paragraphs
  p {
    font-family: $body;
  }

  // Center align columns
  .col-centered{
    float: none;
    margin: 0 auto;

    // Removes default left padding that was throwing off centering of els
    ul {
      -webkit-padding-start: 0px !important;
    }
  }

  // Top Search area styles
  .search-div {
    padding: 100px 0px;
    input {
      font-family: $body;
      max-width: 800px;
      margin: 0 auto;
    }
    button {
      @extend .header;
      color: $dark-orange;
    }
  }

  // Provide breathing space around list of results
  .list {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .popular-link {
    padding-right: 5%;
  }

  .card {
    img {
      height: 255px;
    }
    background: none;
    border: none;
    padding-top: 10px;
    max-width: 200px;
  }

  // Modal Styles
  .movie-detail-img {
    padding-right: 30px;
  }
}
