@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Yantramanav:300,700');

$header: 'Open Sans Condensed', sans-serif;
$body: 'Yantramanav', sans-serif;
$orange: #EC971F;
$dark-orange: #b76b00;

body {
  // Sets background color on page
  margin: 0;
  background: #45484d; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  // Sets font styles on headers
  .header {
    font-family: $header;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    color: $orange;
  }

  a {
    .movie-title {
      @extend .header;
      font-family: $body;
      font-size: 1em;
      padding: 20px 0px;
      color: $orange;
      &:hover {
        color: white !important;
      }
    }
    &:hover, &:focus, &:active, &:visited {
      text-decoration: none !important;
      outline: none;
    }
  }

  // Sets font styles on paragraphs
  p {
    font-family: $body;
  }

  // Center align columns
  .col-centered{
    float: none;
    margin: 0 auto;
  }

  // Top Search area styles
  .search-div {
    padding: 100px 0px;
    h2 {
      margin-bottom: 50px;
      font-size: 6em;
    }

    .search-input {
      max-width: 600px;
      margin: 0 auto;
      background: none;
      border-bottom: solid 2px white;
      transition: border 0.3s;
    }
    input[type="text"] {
      color: white;
      &:focus {
        border-bottom: solid 2px white;
      }
    }

    .form-control {
      @extend .header;
      border-radius: 0;
      &:focus {
        border: none;
      }
      &::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* WebKit, Blink, Edge */
      &:-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 4 to 18 */
      &::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Mozilla Firefox 19+ */
      &:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Internet Explorer 10-11 */
      &::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }  /* Microsoft Edge */
    }

    button {
      @extend .header;
      color: white;
      &:hover {
        color: $dark-orange;
      }
    }
  }

  // Provide breathing space around list of results
  .list {
    padding-top: 40px;
    padding-bottom: 100px;
    ul {
      width: 100%;
      padding: 0px 0px;
    }
  }

  .popular-link {
    padding-right: 5%;
  }

  .card {
    background: none;
    border: none;
  }

  // Modal Styles
  .movie-detail-img {
    padding-right: 30px;
  }
}
