@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Yantramanav:300,700");
body {
  margin: 0;
  background: #424242;
  /* Old browsers */
  background: -moz-linear-gradient(top, #424242 0%, #1d1d1d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #424242 0%, #1d1d1d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #424242 0%, #1d1d1d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body .header, body a .movie-title, body .search-div button {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  body h2 {
    color: #EC971F; }
  body a .movie-title {
    font-family: "Yantramanav", sans-serif;
    font-size: 1em;
    padding: 20px 0px;
    color: #EC971F; }
    body a .movie-title:hover {
      color: white !important; }
  body a:hover, body a:focus, body a:active, body a:visited {
    text-decoration: none !important;
    outline: none; }
  body p {
    font-family: "Yantramanav", sans-serif; }
  body .col-centered {
    float: none;
    margin: 0 auto; }
    body .col-centered ul {
      -webkit-padding-start: 0px !important; }
  body .search-div {
    padding: 100px 0px; }
    body .search-div input {
      font-family: "Yantramanav", sans-serif;
      max-width: 800px;
      margin: 0 auto; }
    body .search-div button {
      color: #b76b00; }
  body .list {
    padding-top: 40px;
    padding-bottom: 100px; }
  body .popular-link {
    padding-right: 5%; }
  body .card {
    background: none;
    border: none;
    padding-top: 10px;
    max-width: 200px; }
    body .card img {
      height: 255px; }
  body .movie-detail-img {
    padding-right: 30px; }
