@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Yantramanav:300,700");
body {
  margin: 0;
  background: #45484d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  body .header, body a .movie-title, body .search-div .form-control, body .search-div button {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  body h2 {
    color: #EC971F; }
  body a .movie-title {
    font-family: "Yantramanav", sans-serif;
    font-size: 1em;
    padding: 20px 0px;
    color: #EC971F; }
    body a .movie-title:hover {
      color: white !important; }
  body a:hover, body a:focus, body a:active, body a:visited {
    text-decoration: none !important;
    outline: none; }
  body p {
    font-family: "Yantramanav", sans-serif; }
  body .col-centered {
    float: none;
    margin: 0 auto; }
  body .search-div {
    padding: 100px 0px; }
    body .search-div h2 {
      margin-bottom: 50px;
      font-size: 6em; }
    body .search-div .search-input {
      max-width: 600px;
      margin: 0 auto;
      background: none;
      border-bottom: solid 2px white;
      transition: border 0.3s; }
    body .search-div input[type="text"] {
      color: white; }
      body .search-div input[type="text"]:focus {
        border-bottom: solid 2px white; }
    body .search-div .form-control {
      border-radius: 0;
      /* WebKit, Blink, Edge */
      /* Mozilla Firefox 4 to 18 */
      /* Mozilla Firefox 19+ */
      /* Internet Explorer 10-11 */
      /* Microsoft Edge */ }
      body .search-div .form-control:focus {
        border: none; }
      body .search-div .form-control::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      body .search-div .form-control:-moz-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      body .search-div .form-control::-moz-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      body .search-div .form-control:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      body .search-div .form-control::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
    body .search-div button {
      color: white; }
      body .search-div button:hover {
        color: #b76b00; }
  body .list {
    padding-top: 40px;
    padding-bottom: 100px; }
    body .list ul {
      width: 100%;
      padding: 0px 0px; }
  body .popular-link {
    padding-right: 5%; }
  body .card {
    background: none;
    border: none; }
  body .movie-detail-img {
    padding-right: 30px; }

.br-theme-fontawesome-stars-o .br-widget {
  height: 28px;
  white-space: nowrap; }

.br-theme-fontawesome-stars-o .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px; }

.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f006';
  color: #d2d2d2; }

.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  content: '\f005';
  color: #50E3C2; }

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  content: '\f005';
  color: #50E3C2; }

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  content: '\f123';
  color: #50E3C2; }

.br-theme-fontawesome-stars-o .br-widget .br-current-rating {
  display: none; }

.br-theme-fontawesome-stars-o .br-readonly a {
  cursor: default; }

.br-theme-fontawesome-stars-o .br-reverse a.br-fractional {
  display: inline-block;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

@media print {
  .br-theme-fontawesome-stars-o .br-widget a:after {
    content: '\f006';
    color: black; }
  .br-theme-fontawesome-stars-o .br-widget a.br-active:after,
  .br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
    content: '\f005';
    color: black; }
  .br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
    content: '\f123';
    color: black; } }
